%%-*- mode: erlang -*-
{lib_dirs, ["apps","deps"]}.
{sub_dirs, [
  "apps/dvr",
  "apps/iptv",
  "apps/hls",
  "apps/central",
  "apps/rtmp",
  "apps/rtsp",
  "apps/mpegts",
  "apps/amf",
  "apps/http_bench",
  "apps/erlmedia",
  "apps/playlist",
  "apps/http_file",
  "apps/gen_tracker",
  "apps/pulse",
  "apps/flussonic"
]}.
{erl_opts, [debug_info, {i, "apps"}, {i, "apps/cowboy/include"}, {parse_transform, lager_transform}, warnings_as_errors]}.

{deps, [
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git"}},
  {parsexml, ".*", {git, "https://github.com/maxlapshin/parsexml.git"}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", "beb8d14e59"}},
  {lager, ".*", {git, "https://github.com/basho/lager"}},
  {ranch,    ".*", {git, "https://github.com/extend/ranch.git"}},
  {cowboy,    ".*", {git, "https://github.com/extend/cowboy.git"}},
  {erlcloud,  ".*", {git, "https://github.com/gleber/erlcloud.git"}},
  {lhttpc,    ".*", {git, "https://github.com/erlyvideo/lhttpc"}},
  {websocket_client, ".*", {git, "https://github.com/erlyvideo/websocket_client"}},
  {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git"}}
]}.

{cover_enabled, true}.
